[submodule "content/themes/casper"]
	path = content/themes/casper
	url = ../../TryGhost/Casper.git
[submodule "core/client"]
	path = core/client
	url = ../../TryGhost/Ghost-Admin.git
[submodule "content/themes/indepthdev-client"]
	path = content/themes/indepthdev-client
	url = https://github.com/maxkoretskyi/indepthdev-client.git
